In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from src.utils.helper_data import load_dataset
from dotenv import load_dotenv
load_dotenv()
import os

In [6]:
data = load_dataset(all_contents=True, dir_name=os.getenv("DIR_DATASET"))

In [7]:
data.keys()

dict_keys(['interactions_test', 'interactions_train', 'interactions_validation', 'PP_recipes', 'PP_users', 'RAW_interactions', 'RAW_recipes'])

In [11]:
raw_interactions = data["RAW_interactions"]
raw_recipes =data["RAW_recipes"]
pp_users = data["PP_users"]
interactions_validation = data["interactions_validation"]

In [12]:
interactions_validation.head()

   user_id  recipe_id        date  rating   u       i
0    76535      33627  2005-02-15     4.0   5  177317
1   160497      75307  2005-10-24     4.0  23  170785
2   930021     100961  2008-11-30     4.0  31  165555
3    58439     154105  2007-03-24     4.0  44  177453
4   628951      14525  2008-02-16     5.0  45  142367